
.imms-nav-item-container-depth-0 {
	margin-bottom: 30px;
	list-style: none;
	font-size:18px;
}

.imms-nav-item-heading-depth-0 {
	border-bottom:1px solid white;
}

.imms-nav-menu > ul {
	padding-left:0;
}

.imms-nav-item-container-depth-1 {
	margin-bottom:5px;
	list-style: none;
	font-size:16px;
}

.imms-nav-item-container-depth-2 {
	margin-bottom:1px;
	font-size:15px;
	list-style: none;
}

.imms-nav-container {
	min-height: 600px;
	display: table-cell;
	vertical-align: top;
	min-width: 300px;
	padding-left: 10px;
	.imms-nav-header {
		margin-top: 0;
		padding-top: 0;
	}
}
