
@import "_main";

.imms-bar-2 {
	.imms-container {
		@extend .container
	}
	.imms-nav-column-box {
		@include make-md-column(3);
		@extend .hidden-xs;
		@extend .hidden-sm;
	}

	.imms-text-area {
		@include make-md-column(9);
		@include make-xs-column(12);
	}
}

.imms-title-bar .imms-title-bounding-box .imms-title-inner-box .imms-title-main {
	height: 200px;
	margin: 0 auto;
	max-width: 800px;
}



