.nav-heading {
	margin-top: 0;
	padding-top: 0;
	&--depth-0 {
		border-bottom:1px solid white;
	}

	&.future {
		a {
			color: silver;
		}
	}
}

.nav-container {
	padding-left: 10px;

	&--depth-0 {
		margin-bottom: 30px;
		list-style: none;
		font-size:18px;
	}
	&--depth-1 {
		margin-bottom:5px;
		list-style: none;
		font-size:16px;
	}

	&--depth-2 {
		margin-bottom:1px;
		font-size:15px;
		list-style: none;
	}
}

.central-nav-column-box {
	padding: 0;
	margin: 0;
}

.imms-nav-item-container-depth-0 {

}

.imms-nav-item-heading-depth-0 {

}

.imms-nav-item-container-depth-1 {

}

.imms-nav-item-container-depth-2 {

}

.imms-nav-container {


}
