<div class="down-options" id="down-options">
    <div class="down-options__col">
        <a href="{{ links.library.nuget }}">
            <div class="down-option down-option--nuget down-option--primary">
                <div class="down-option__icon">
                    <img src="/images/nugetlogo.png"/>
                </div>
                <h3 class="down-option__title">
                    NuGet
                </h3>
                <div class="down-option__content">
                    The best way to get the latest version of Imms is through NuGet.
                </div>
            </div>
        </a>
    </div>
    <div class="down-options__col">
        <a href="{{ links.library.binaries }}">
            <div class="down-option down-option--binaries">
                <div class="down-option__icon">
                    <img src="/images/zip.png"/>
                </div>
                <h3 class="down-option__title">
                    Binaries
                </h3>
                <div class="down-option__content">
                    You can also download the binaries directly in a zip file.
                </div>
            </div>
        </a>
    </div>
    <div class="down-options__col">
        <a href="{{ links.library.sources }}">
            <div class="down-option down-option--sources">
                <div class="down-option__icon">
                    <img src="/images/GitHub_Logo.png"/>
                </div>
                <h3 class="down-option__title">
                    Sources
                </h3>
                <div class="down-option__content">
                    You could even get the sources and include them in your solution directly.
                </div>
            </div>
        </a>
    </div>

</div>