<ul class="top-navbar">
    <li class="top-navbar__item">
        <h4>
            <a href="/pages/WhyImmutable">
                Why Immutable?
            </a>
        </h4>
    </li>
    <li class="top-navbar__item">
        <h4>
            <a href="/pages/WhyImms">
                Why Imms?
            </a>
        </h4>
    </li>
    <li class="top-navbar__item">
        <h4>
            <a href="/pages/General">
                Documentation
            </a>
        </h4>
    </li>
    <li class="top-navbar__item">
        <h4>
            <a href="/pages/GetImms">
                Get Imms
            </a>
        </h4>
    </li>
</ul>