<cm-forkme></cm-forkme>
<div class="imms-root">
    <div class="title-backdrop">
        <cm-title></cm-title>
    </div>
    <div class="central-backdrop">
        <div class="central-layout">
            <div class="central-nav-column-box">
                <cm-nav></cm-nav>
            </div>
            <div class="central-text">
                <cm-article [src]="article"></cm-article>
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <div class="footer-backdrop">
        <cm-footer></cm-footer>
    </div>
</div>
