<!DOCTYPE html>

<html lang="en" class>
<head>
    <meta charset="UTF-8">
    <base href="/"/>
    <title>Imms</title>
    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
        System.import('/scripts/main');
    </script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    {%  for item in page.styles %}
        <link href="/styles/{{ item }}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    {% include mathjax-integration.html %}
</head>
<body >
{% include forkme.html %}
<div class="imms-root">
    <div class="title-backdrop">
        <div class="title-box">
            <div class="title-row">
                {% include top-logo.html %}
                {% include main-heading.html %}
                {% include download-box.html %}
            </div>
            {% include top-navbar.html %}
        </div>
    </div>
    <div class="central-backdrop">

        <div class="central-layout">
            <div class="central-nav-column-box">
                <div class="js-central-nav-column central-nav-column">

                </div>
            </div>
            <div class="central-text">
                {{ content }}
            </div>
        </div>

    </div>
    <div class="footer-backdrop">
        {% include footer.html %}
    </div>
</div>
<script>

</script>
</body>
</html>
