
@import "includes/_main";

.central-backdrop {
}
	.central-layout {
		@extend .container
	}
		.central-nav-column-box {
			@include make-md-column(3);
			@extend .hidden-xs;
			@extend .hidden-sm;
		}

		.central-text {
			@include make-md-column(9);
			@include make-xs-column(12);
		}

.title-row {
	height: 200px;
	margin: 0 auto;
	max-width: 800px;
}

@mixin aside {

	margin-bottom: 1.5em;
	margin-left: 2em;
	padding: 10px;
	border-radius: 10px;
	background: transparentize(black, 0.8);
}

.tldr {
	@include aside();
	font-weight: 400;
}

.sidebar {
	float: right;
	width: 25%;

	@include aside();
	font-size: 14px;
	line-height: 19px;
	h3 {
		margin: 0;

	}
}



