
@import "includes/_main";

.central-backdrop {
}
	.central-layout {
		@extend .container
	}
		.central-nav-column-box {
			@include make-md-column(3);
			@extend .hidden-xs;
			@extend .hidden-sm;
		}

		.central-text {
			@include make-md-column(9);
			@include make-xs-column(12);
		}

.title-row {
	height: 200px;
	margin: 0 auto;
	max-width: 800px;
}

@mixin aside {

	margin-bottom: 1.5em;
	margin-left: 2em;
	padding: 10px;
	border-radius: 10px;
	background: transparentize(black, 0.8);
}

.tldr {
	@include aside();
	font-weight: 400;
}

.sidebar {
	float: right;
	width: 25%;

	@include aside();
	font-size: 14px;
	line-height: 19px;
	h3 {
		margin: 0;

	}
}

.mathjax-macros * {
	visibility: collapse !important;
	position: absolute !important;
}

.cm-chart__footer {
	white-space: pre-wrap;
}

.complexity-table {
	width: 100%;
	overflow-x: auto;
	margin-bottom: 15px;
	padding-bottom: 15px;
	background: rgba(255, 255, 255, 0.18);
	border-radius: 10px;

	&__footer {
		padding-left: 10px;
		font-size: 12px;
	}

	&__footnote {
		list-style: none;
	}

	td, th {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
	}

	&__heading {
		&-info {
			text-align: left;
			white-space: nowrap;
		}
		&-math {
			text-align: center;
			white-space: nowrap;
		}

	}

	&__math {
		font-size: 15px;
		text-align: center;
	}

	&__info {
		white-space: nowrap;
	}
}




